<!DOCTYPE html>
<html lang="en">
<head>
<title>Digital Analytics Standard 2020</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<script src="js/digital-analytics.js"></script>
<script src="js/digital-analytics-gb.js"></script>
<script src="js/digital-analytics-sample-scenario.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//assets.adobedtm.com/b84dbf01908c/896896659c38/launch-e93f5b67998c-development.min.js" async></script>
</head>

<body>
<div id="digital_analytics">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" ref="menuSidebar"><br>
  <a href="#" @click="showMenuBar(false)" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Digital<br>Analytics<br>Standard</b><br>2020</h3>
  </div>
  <div class="w3-bar-block">
    <button @click="setCurrentCategoryPage(-1, -1)" class="w3-button w3-bar-item w3-hover-white">Home</button> 
    <button @click="setCurrentCategoryPage(0, -1)" class="w3-button w3-bar-item w3-hover-white">System Objects <i :class="['fa', classCaretDownSO, classCaretRightSO]"></i></button> 
    <div v-if="current_category_index == 0">
      <div class="w3-bar-block w3-padding-large w3-medium">
        <a v-for="pageIndex in pages[0].length" href="#" class="w3-bar-item w3-button" @click="setCurrentCategoryPage(0, pageIndex-1)">{{ pages[0][pageIndex-1] }}</a>
      </div>      
    </div>      
    <button @click="setCurrentCategoryPage(1, -1)" class="w3-button w3-bar-item w3-hover-white">Data Layer <i :class="['fa', classCaretDownDL, classCaretRightDL]"></i></button> 
    <div v-if="current_category_index == 1">
      <div class="w3-bar-block w3-padding-large w3-medium">
        <a v-for="pageIndex in pages[1].length" href="#" class="w3-bar-item w3-button" @click="setCurrentCategoryPage(1, pageIndex-1)">{{ pages[1][pageIndex-1] }}</a>
      </div>      
    </div>      
    <button @click="setCurrentCategoryPage(2, -1)" class="w3-button w3-bar-item w3-hover-white">HTML5 Attribute <i :class="['fa', classCaretDownHA, classCaretRightHA]"></i></button> 
    <div v-if="current_category_index == 2">
      <div class="w3-bar-block w3-padding-large w3-medium">
        <a v-for="pageIndex in pages[2].length" href="#" class="w3-bar-item w3-button" @click="setCurrentCategoryPage(2, pageIndex-1)">{{ pages[2][pageIndex-1] }}</a>
      </div>      
    </div>      
    <button @click="setCurrentCategoryPage(3, -1)" class="w3-button w3-bar-item w3-hover-white">Sample Scenario <i :class="['fa', classCaretDownSS, classCaretRightSS]"></i></button> 
    <div v-if="current_category_index == 3">
      <div class="w3-bar-block w3-padding-large w3-medium">
        <a v-for="pageIndex in pages[3].length" href="#" class="w3-bar-item w3-button" @click="setCurrentCategoryPage(3, pageIndex-1)">{{ pages[3][pageIndex-1] }}</a>
      </div>      
    </div>      
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="#" class="w3-button w3-red w3-margin-right" @click="showMenuBar(true)">☰</a>
  <span>Digital Analytics Standard 2020</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" @click="showMenuBar(false)" style="cursor:pointer" title="close side menu" ref="menuOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Digital Analytics</b></h1>
    <h1 class="w3-xxxlarge w3-text-grey"><b>Standard 2020</b></h1>
    <hr style="width:200px;border:5px solid #00AA59" class="w3-round">
  </div>

  <!-- Home Page -->
  <div class="w3-container" style="margin-top:20px" v-if="current_category_index<0">
    <h1 class="w3-xlarge w3-text-red"><b>Index</b></h1>
    <h4>System Object</h4>
    <p>
      • URL<br />
      • Timestamp<br />
      • Other
    </p>
    <h4>JSO (JavaScript Object)</h4>
    <p>
      • Root Object<br />
      • Static Variable<br />
      • Page<br />
      • Product<br />
      • Application/Forms/Quote/Tool<br />
      • Event<br />
      • Transaction<br />
      • Component<br />
      • User<br />
      • Customer
    </p>
    <h4>HTML5 data-analytics-* Attributes</h4>
    <p>
      • data-analytics-redirect<br />
      • data-analytics-exit<br />
      • data-analytics-download<br />
      • data-analytics-click<br />
      • data-analytics-content
    </p>
  </div>

  <!-- Digital Analytics Pages -->
  <div class="w3-container w3-card w3-text-blue-grey" style="margin-top:20px" v-else>
    <h1 class="w3-xlarge w3-text-red"><b>{{ page_categories[current_category_index] }}</b></h1>
    <h4 class="w3-text-black">{{ current_page }}</h4>
    <p v-if="pageDescription() != null" v-html="pageDescription()">{{ pageDescription() }}</p>
    <p v-else>Click menu items to view detail ...</p>
  </div>

  <!-- Content -->
  <div class="w3-container w3-border w3-border-red" style="margin-top:75px" v-if="pageDemo() != null">
    <h1 class="w3-xxxlarge w3-text-blue-grey"><b>Demo</b></h1>
    <hr style="width:200px;border:3px solid lightgrey" class="w3-round-small">
    <h5 class="w3-text-blue-grey">{{ pageDemo().description }}</h5>
    <div v-if="pageDemo().formindex !== undefined">
      <form action="#" v-if="pageDemo().formindex < 3">
        <div class="w3-section">
          <label class="w3-text-blue-grey">{{ pageDemo().forms[pageDemo().formindex] }}</label>
          <input class="w3-input w3-border" type="text" :name="'form' + pageDemo().formindex" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-blue-grey w3-margin-bottom">{{ pageDemo().formindex < 2 ? 'Next' : 'Submit' }}</button>
      </form>
      <h6 class="w3-text-blue" v-else>Thanks for submit the forms !</h6>
    </div>
    <div v-if="pageDemo().sampleflag !== undefined">
      <a href="#" class="w3-bar-item" @click="setSampleDataLayer()">Sample Data Layer <span class="w3-text-red"><b>{{ pageDemo().sampleflag ? ' « ' : ' » ' }}</b></span></a>
      <p v-if="pageDemo().sampleflag" v-html="pageDemo().sample">{{ pageDemo().sample }}</p>
    </div>
    <p>&nbsp;</p>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<!-- End Vue Element -->
</div>

<script src="js/digital-analytics-vue.js"></script>
</body>
</html>
